[submodule "SHELL00"]
	path = SHELL00
	url = git@github.com:rphlr/42piscine-shell00.git
[submodule "SHELL01"]
	path = SHELL01
	url = git@github.com:rphlr/42piscine-shell01.git
[submodule "C00"]
	path = C00
	url = git@github.com:rphlr/42piscine-c00.git
[submodule "C01"]
	path = C01
	url = git@github.com:rphlr/42piscine-c01.git
[submodule "C02"]
	path = C02
	url = git@github.com:rphlr/42piscine-c02.git
[submodule "C03"]
	path = C03
	url = git@github.com:rphlr/42piscine-c03.git
[submodule "C04"]
	path = C04
	url = git@github.com:rphlr/42piscine-c04.git
[submodule "C05"]
	path = C05
	url = git@github.com:rphlr/42piscine-c05.git
[submodule "C06"]
	path = C06
	url = git@github.com:rphlr/42piscine-c06.git
[submodule "C07"]
	path = C07
	url = git@github.com:rphlr/42piscine-c07.git
[submodule "C08"]
	path = C08
	url = git@github.com:rphlr/42piscine-c08.git
[submodule "C09"]
	path = C09
	url = git@github.com:rphlr/42piscine-c09.git
[submodule "C11"]
	path = C11
	url = git@github.com:rphlr/42piscine-c11.git
[submodule "C10"]
	path = C10
	url = git@github.com:rphlr/42piscine-c10.git
[submodule "C12"]
	path = C12
	url = git@github.com:rphlr/42piscine-c12.git
[submodule "C13"]
	path = C13
	url = git@github.com:rphlr/42piscine-c13.git
[submodule "RUSH00"]
	path = RUSH00
	url = git@github.com:rphlr/42piscine-rush00.git
[submodule "RUSH01"]
	path = RUSH01
	url = git@github.com:rphlr/42piscine-rush01.git
[submodule "RUSH02"]
	path = RUSH02
	url = git@github.com:rphlr/42piscine-rush02.git
