[submodule "subfolder/SHELL00"]
	path = subfolder/SHELL00
	url = git@github.com:rphlr/42piscine-shell00.git
[submodule "subfolder/SHELL01"]
	path = subfolder/SHELL01
	url = git@github.com:rphlr/42piscine-shell01.git
[submodule "subfolder/C00"]
	path = subfolder/C00
	url = git@github.com:rphlr/42piscine-c00.git
[submodule "subfolder/C01"]
	path = subfolder/C01
	url = git@github.com:rphlr/42piscine-c01.git
[submodule "subfolder/C02"]
	path = subfolder/C02
	url = git@github.com:rphlr/42piscine-c02.git
[submodule "subfolder/C03"]
	path = subfolder/C03
	url = git@github.com:rphlr/42piscine-c03.git
[submodule "subfolder/C04"]
	path = subfolder/C04
	url = git@github.com:rphlr/42piscine-c04.git
[submodule "subfolder/C05"]
	path = subfolder/C05
	url = git@github.com:rphlr/42piscine-c05.git
[submodule "subfolder/C06"]
	path = subfolder/C06
	url = git@github.com:rphlr/42piscine-c06.git
[submodule "subfolder/C07"]
	path = subfolder/C07
	url = git@github.com:rphlr/42piscine-c07.git
[submodule "subfolder/C08"]
	path = subfolder/C08
	url = git@github.com:rphlr/42piscine-c08.git
[submodule "subfolder/C09"]
	path = subfolder/C09
	url = git@github.com:rphlr/42piscine-c09.git
[submodule "subfolder/C11"]
	path = subfolder/C11
	url = git@github.com:rphlr/42piscine-c11.git
[submodule "subfolder/C10"]
	path = subfolder/C10
	url = git@github.com:rphlr/42piscine-c10.git
[submodule "subfolder/C12"]
	path = subfolder/C12
	url = git@github.com:rphlr/42piscine-c12.git
[submodule "subfolder/C13"]
	path = subfolder/C13
	url = git@github.com:rphlr/42piscine-c13.git
[submodule "subfolder/RUSH00"]
	path = subfolder/RUSH00
	url = git@github.com:rphlr/42piscine-rush00.git
[submodule "subfolder/RUSH01"]
	path = subfolder/RUSH01
	url = git@github.com:rphlr/42piscine-rush01.git
[submodule "subfolder/RUSH02"]
	path = subfolder/RUSH02
	url = git@github.com:rphlr/42piscine-rush02.git
